blinker==1.4
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1636053642058/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012319596/work
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1632148484469/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046173594/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1635814948295/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822911388/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1636040985336/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1636053327370/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
en-core-web-sm @ file:///home/conda/feedstock_root/build_artifacts/spacy-model-en_core_web_1636441718920/work/sm
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1633384704162/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1635836894450/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1635854335256/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1633615532413/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833679368/work
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1636019754365/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145451503/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1622563202229/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1635227809952/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1636077852915/work
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1635831792595/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1636021227116/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1634405536383/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636323133880/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862736740/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1636649191224/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1635241015035/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1636410523693/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1636396600080/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1625687473390/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1634809367310/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1636657489972/work
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1635234366897/work
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1635495850728/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1626092076920/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
tweepy @ file:///home/conda/feedstock_root/build_artifacts/tweepy_1635985127247/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1630326630489/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1612156086016/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
